:root {
  --test: rgba(37, 28, 28, 0.562);
}

.App {
  text-align: center;
  background-color: var(--test);
}

body {
  background-color: var(--test);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
  float: left;
  padding: 0.7em;
}
